---
import { SITE, SOCIALS } from "@consts";
import Container from "@components/Container.astro";
import PageVersion from "@components/GitVer.astro";

// import InfoButton from '@components/info_button/button.astro';
---

<!--<InfoButton/>--><!-- System detection -->
<script is:inline async src="/js/system_detection.js"></script>

<footer class="relative">
  <div
    class="relative mx-auto max-w-5xl overflow-hidden rounded-3xl bg-white/80 dark:bg-black/80 backdrop-blur-xl border border-black/10 dark:border-white/20 shadow-lg transition-[margin,padding,height,transform,opacity] duration-300 mb-5"
  >
    <!-- Section: Back to Top -->
    <section class="py-5">
      <Container size="none_at_all">
        <div class="flex items-center justify-center">
          <button
            id="back-to-top"
            aria-label="Back to top of page"
            class="mb-5 group relative overflow-hidden flex w-full p-1.5 gap-1.5 text-sm items-center border rounded-4xl hover:rounded-md hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="z-10 stroke-white dark:stroke-black rotate-90"
            >
              <line
                x1="19"
                y1="12"
                x2="5"
                y2="12"
                class="scale-x-0 group-hover:scale-x-100 translate-x-3 group-hover:translate-x-0 transition-all duration-300 ease-in-out"
              ></line>
              <polyline
                points="12 19 5 12 12 5"
                class="translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out"
              ></polyline>
            </svg>
            <div
              class="w-full z-10 group-hover:text-white dark:group-hover:text-black transition-colors duration-300 ease-in-out"
            >
              Do Góry
            </div>
            <span
              class="absolute top-0 left-[-10%] w-[20%] h-full bg-black dark:bg-white skew-x-[-20deg] transform transition-all duration-700 group-hover:w-[140%]"
            ></span>
            <span
              class="absolute top-0 left-[-50%] w-[20%] h-full bg-amber-700 skew-x-[-20deg] transform transition-all duration-700 group-hover:w-[70%]"
            >
            </span>
          </button>
        </div>

        <!-- Section: Site Title -->
        <section
          class="py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25 transition-all"
        >
          <Container size="md">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
              <div class="flex flex-col items-center sm:items-start">
                <a
                  href="/"
                  class="flex uppercase italic gap-3 place-items-center w-fit font-semibold text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
                >
                  {SITE.TITLE}
                </a>
              </div>
            </div>
          </Container>
        </section>

        <!-- Section: Legal + Socials -->
        <section
          class="py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25"
        >
          <Container size="md">
            <div class="h-full grid grid-cols-1 sm:grid-cols-2 gap-3">
              <!-- Left: Legal -->
              <div
                class="order-2 sm:order-1 flex flex-col items-center justify-center sm:items-start"
              >
                <div
                  class="legal hover:scale-125 transition-all duration-300 ease-in-out"
                >
                  <a
                    href="https://nikostuff.com"
                    class="text-current hover:text-black dark:hover:text-white transition-all duration-300 ease-in-out"
                  >
                    Created & Built with ❤️ by Niko / M.F.
                  </a>
                </div>
                <div class="text-sm mt-2">
                  &copy; 2026 | <PageVersion />
                </div>
              </div>
            </div>
          </Container>
        </section>
      </Container>
    </section>

    <script is:inline>
      function goBackToTop(event) {
        event.preventDefault();
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }

      function inintializeBackToTop() {
        const backToTop = document.getElementById("back-to-top");
        backToTop?.addEventListener("click", goBackToTop);
      }

      document.addEventListener("astro:after-swap", inintializeBackToTop);
      inintializeBackToTop();
    </script>
  </div>
</footer>
