<section class="w-full overflow-hidden h-full relative">
  <div
    id="carousel-container"
    class="w-full h-full flex items-center justify-center overflow-hidden relative"
  >
    <div
      id="carousel"
      class="inline-flex whitespace-nowrap text-4xl md:text-6xl lg:text-8xl font-bold uppercase opacity-50 italic"
    >
      <span class="inline-block px-6">Kompleksowa budowa budynków</span>
      <span class="inline-block px-6">Domy jednorodzinne</span>
      <span class="inline-block px-6"
        >Murowane oraz w systemie szkieletowym</span
      >
      <span class="inline-block px-6">Budynki usługowe</span>
      <span class="inline-block px-6">Od fundamentów po wykończenie</span>
      <span class="inline-block px-6">Instalacje hydrauliczne</span>
      <span class="inline-block px-6">Instalacje elektryczne</span>
      <span class="inline-block px-6"
        >Rekuperacja (wentylacja mechaniczna z odzyskiem ciepła)</span
      >
      <span class="inline-block px-6">Klimatyzacja</span>
      <span class="inline-block px-6"
        >Montaż szamb betonowych oraz studni chłonnych</span
      >
    </div>
  </div>
</section>

<script>
  import gsap from "gsap";

  const carousel = document.getElementById("carousel");
  const container = document.getElementById("carousel-container");

  let tween: gsap.core.Tween;

  function initCarousel() {
    if (!carousel || !container) return;

    tween?.kill();

    if (!carousel.dataset.cloned) {
      const content = carousel.innerHTML;

      carousel.innerHTML =
        content +
        '<span class="inline-block px-32"></span>' + // spacer
        content;

      carousel.dataset.cloned = "true";
    }

    const width = carousel.scrollWidth / 2;

    gsap.set(carousel, { x: 0 });

    tween = gsap.to(carousel, {
      x: -width,
      duration: 90,
      ease: "none",
      repeat: -1,
      yoyo: true,
    });
  }

  initCarousel();
  window.addEventListener("resize", initCarousel);
</script>
