name: Deploy To SFTP

on:
  schedule:
    - cron: "0 */12 * * *"
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 'latest'
          cache: pnpm

      - name: Install Dependencies
        run: pnpm i

      - name: Build Astro Website
        run: pnpm build

      - name: Sync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzr --delete --progress
          path: dist/
          remote_path: /web/pages/pachbud.pl
          remote_host: ${{ secrets.FTP_HOST }}
          remote_user: ${{ secrets.FTP_LOGIN }}
          remote_key: ${{ secrets.FTP_KEY }}